@use "../css/custom" as *;
@use "../components/animations" as *;


//.home-animation {
 //   @include animated-fade-in-up;

//}

.home-center {
    margin: auto;
    position: relative;
    text-align: center;
    color: $white !important;
    justify-self: center;

    h2 {
        font-weight: 750;
    }
    p {
        font-weight: 350;
    }
    a {
        font-weight: 450;
    }
}

.external-links {
    padding: 1rem 1rem;
    a {
        img {
            height: 30px;
            width: 36px;
        }
    }
}