@use "../css/custom" as *;

.external-links {
    padding: 1rem 1rem;
    a {
        img {
            height: 30px;
            width: 36px;
        }
    }
}

.home {
    color: $white !important;
    text-align: center;
    height: 95vh;
    h2 {
        font-weight: 750;
    }
    p {
        font-weight: 350;
    }
    a {
        font-weight: 450;
    }
}
