@use "../css/custom" as *;
@use "../components/mixins" as *;

.menu {
    @include mixin-background;
    li {
        a {
            color: $white;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
}

.navbar-external-links {
    padding: 0.25rem 0.75rem;
    a {
        img {
            height: 30px;
            width: 36px;
        }
    }
}
