@use "../css/custom" as *;

@keyframes fade-in-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .animated-fade-in-up {
    animation: 1.5s fade-in-up;
  }