$primary-color: #1736f5;
$secondary-color: #ffc709;
$background-color: #f7f1f1;
$font-main-color: #020000;
$font-secondary-color: #000000;
$border-color: #808080;
$font-family-main: "Papyrus", Helvetica, Arial, sans-serif;
$font-family-secondary: "Helvetica", Helvetica, Arial, sans-serif;

@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: $font-family-main;
    color: $font-main-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $secondary-color;
    padding: 25px 15px;
    font-family: $font-family-main;

    .navbar-brand {
        color: $primary-color;
        font-size: 2em;
        font-weight: bold;

        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    .nav-link {
        color: $primary-color;
        font-size: 1.2em;
        font-weight: bold;

        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    .navbar-toggler {
        border-color: $border-color;
    }
}
