{% extends "base.html" %} {% block content %}
<div class="center">
    <div class="container home-center">
        <h2>Jesse Johnson</h2>
        <p>Software Engineer</p>
        <div>
            <nav class="nav flex-column">
                <a class="nav-link" href="{{url_for('bp_home.about_me')}}">About Me</a>
                <a class="nav-link" href="{{url_for('bp_home.portfolio')}}">Portfolio</a>
                <a class="nav-link" href="{{url_for('bp_home.contact')}}">Contact</a>
            </nav>
        </div>
        <div class="external-links">
            <a
                    href="https://github.com/JesseJohnson533"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="me-3"
                >
                    <img
                        src="{{url_for('static', filename='images/github_logo.png')}}"
                        alt="GitHub"
                    />
            </a>
            <a
                    href="https://www.linkedin.com/in/jessejohnson533"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src="{{url_for('static', filename='images/linkedin_logo.png')}}"
                        alt="LinkedIn"
                    />
            </a>
        </div>
    </div>
</div>
{% endblock %}
