{% extends "base.html" %} {% block navbar %} {% include "navbar.html" %} {%
endblock %} {% block content %}
<div class="container-fluid">
    <div>
        <h1 class="text-white text-center mt-5">Portfolio</h1>
    </div>
    <div
        class="row row-cols-1 row-cols-md-2 g-4 mx-auto justify-content-center mt-5"
    >
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title border-bottom">
                        TFT Stat Aggregator and Tools
                    </h3>
                    <p>Date Completed: In Progress</p>
                    <p class="card-text flex-grow-1">
                        This project is a TFT Stat Aggregator and Tools web
                        application built with Next.js and TypeScript, offering
                        a robust and scalable platform for Teamfight Tactics
                        (TFT) players to connect their game accounts via Riot
                        Games' external SSO. By consuming Riot's REST APIs, the
                        app retrieves and stores personalized game data in a
                        PostgreSQL relational database, enabling efficient data
                        management and historical analysis. Users can access
                        detailed statistics, match history, and performance
                        insights on their account page, with tools to analyze
                        gameplay, track progress, and optimize strategies.
                        Combining the power of Next.js for a fast, responsive
                        frontend and PostgreSQL for reliable data storage, this
                        application delivers a seamless and type-safe experience
                        for TFT enthusiasts.
                    </p>
                    <div class="mt-auto text-end">
                        <a
                            href="https://github.com/JesseJohnson533/tft-statistics-and-tools"
                            target="_blank"
                            class="btn btn-primary"
                        >
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title border-bottom">Personal Website</h3>
                    <p>Date Completed: 01/2025</p>
                    <p class="card-text flex-grow-1">
                        This project is a responsive personal website built with
                        a Python Flask backend and designed using JavaScript,
                        Bootstrap HTML, and Sass CSS to showcase my professional
                        portfolio, skills, and contact information. Developed in
                        a Docker container and deployed to production via
                        Heroku, the site features a Project Portfolio
                        highlighting my work, direct links to my GitHub and
                        LinkedIn, a downloadable Resume, and a Contact Me
                        section with a form for easy communication. It serves as
                        a centralized, polished platform to present my
                        professional identity and connect with potential
                        collaborators or employers.
                    </p>
                    <div class="mt-auto text-end">
                        <a
                            href="https://github.com/JesseJohnson533/personal-website"
                            target="_blank"
                            class="btn btn-primary"
                        >
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title border-bottom">
                        Senior Project - Issac's Index
                    </h3>
                    <p>Date Completed: 12/2023</p>
                    <p class="card-text flex-grow-1">
                        Issac's Index is a price and review aggregator Chrome
                        extension and web application designed to revolutionize
                        your online shopping experience. When browsing a product
                        page, the extension displays prices from multiple
                        retailers, ensuring you find the best deal, while the
                        website curates user reviews from various sources,
                        filtering out irrelevant or fake ones. It calculates an
                        "Issac's Insight" score a Rotten Tomatoes like rating to
                        help you make confident purchasing decisions based on
                        collective shopper feedback. Built with Python (Flask,
                        SQLAlchemy) for the backend, JavaScript, HTML, and CSS
                        for the frontend, and PostgreSQL for data storage, the
                        app scrapes the web using Playwright to gather real-time
                        data. The Chrome extension is powered by Node.js and
                        Bootstrap, while the entire system is cloud-deployed
                        using Heroku, delivering a seamless and reliable
                        shopping companion.
                    </p>
                    <div class="mt-auto text-end">
                        <a
                            href="https://github.com/JesseJohnson533/senior-experience-group-project-issacs-index"
                            target="_blank"
                            class="btn btn-primary"
                        >
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title border-bottom">
                        Corner! Restaurant Scheduling Mobile App
                    </h3>
                    <p>Date Completed: 08/2022</p>
                    <p class="card-text flex-grow-1">
                        Corner! is a Android application built with Kotlin,
                        designed to streamline scheduling, shift management, and
                        financial tracking for restaurant staff. Following the
                        MVC design pattern, the app includes 5 activities and
                        screens. Key features include a RecyclerView for
                        displaying shift notes, SQLite for structured storage,
                        and CRUD operations for managing notes and shifts. Users
                        can tap days to update tips and hours worked, long-tap
                        to delete notes (with yes/no confirmation), or short-tap
                        to edit them. Additional functionalities include a
                        Weekly Financial box for tracking tips, a Number Spinner
                        for post-shift updates, and the ability to switch
                        between weeks seamlessly.
                    </p>
                    <div class="mt-auto text-end">
                        <a
                            href="https://github.com/JesseJohnson533/corner-scheduling-mobile-app"
                            target="_blank"
                            class="btn btn-primary"
                        >
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
